html, body {
    height: 100%;
}

.body {
    height: 100%;
    background-color: #252C32;
}


#img_right {
    height: 100%;
}

#img_right :hover {
    opacity: 1;
}

a {display: block;}

#img_right a{
    width: 100%;
    height: 100%;
}